@media (max-width: 991px) {
    @for $px from 0 through 50 {
        .p-md-b-#{$px * 5} {
            padding-bottom: #{$px * 5}px;
        }

        .p-md-t-#{$px * 5} {
            padding-top: #{$px * 5}px;
        }

        .p-md-r-#{$px * 5} {
            padding-right: #{$px * 5}px;
        }

        .p-md-l-#{$px * 5} {
            padding-left: #{$px * 5}px;
        }

        .m-md-b-#{$px * 5} {
            margin-bottom: #{$px * 5}px;
        }

        .m-md-t-#{$px * 5} {
            margin-top: #{$px * 5}px;
        }

        .m-md-r-#{$px * 5} {
            margin-right: #{$px * 5}px;
        }

        .m-md-l-#{$px * 5} {
            margin-left: #{$px * 5}px;
        }
    }
}